:root {
  --background-color: rgb(245, 245, 245);
  --text-color: rgb(15, 15, 15);
  --visited-link-color: rgb(130, 130, 130);

  --text-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
  :root {
    --text-size: 0.75rem;
  }
}